html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.form {
  position: absolute;
  top: 20%; 
  left: 5%; 
}

.top-list {
  position: absolute;
  top: 70%; 
  left: 2%; 
}
.top-btn {
  position: absolute;
  top: 69%; 
  left: 4.8%;
}